{{template "navbar.tmpl"}}
<link rel="stylesheet" href="../../css/some.css">
<br><br>
  <h1>{{.payload.Title}}</h1>
  <p>{{.payload.Content}}</p>

<style> 
h1 {
  color: #ccc;
  margin: 20px;
}
p {
  color: #ccc;
}
</style>
