{{template "navbar.tmpl"}}
{{range .payload}}
<html>
<link rel="stylesheet" href="../css/some.css">
    <div class="article">
    <br><br>
    <!--Create the link for the article based on its ID-->
    <a href="/article/view/{{.ID}}" style="text-decoration: none">
      <!--Display the title of the article -->
      <h2>{{.Title}}</h2>
    </a>
    <br>
    <!--Display the content of the article-->
      <p>{{.Content}}</p>
      <br>
      <a href="/article/view/{{.ID}}" style="text-decoration: none">
        <button class="example_n">Read more</button>
      </a>
      <br>
      <br>
      <br>
    </div>
</html>
{{end}}

<style> 
.article {
  background-color: #202020;
  width: 40%;
  margin: 10vh auto;
  border-radius: 10px;
}
p {
  text-align: left;
  color: #ccc;
  margin: 10px;
}
h2 {
  text-align: left;
  margin-left: 10px;
  color: #fca500;
}
button {
  float: right;
}
</style>
