<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<html>
	<head>
  <title>{{ .title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>HashNet</title>
	</head>
		<div class="section4">
		<nav class="stroke fixed-nav-bar">
		<ul>
			<li><a class="some" href="/">hashnet</a></li>
			<li><a class="active" href="/about">About</a></li>
			<li><a class="active" href="/login">Login</a></li>
			<li><a class="active" href="/contact">Contact</a></li>
				<form class="search">
					<input type="search" placeholder="Search..." name="search" class="search">
				</form>
		</ul>
		</nav>
	</body>
</html>
